<h1>Add a new product</h1>

<%= form_tag '/products', method: :post do %>

  <div>
  <%= label_tag :product_name %>
  <%= text_field_tag :product_name %>
  </div>

  <div>
  <%= label_tag :product_price %>
  <%= text_field_tag :product_price %>
  </div>

  <div>
  <%= label_tag :product_description %>
  <%= text_field_tag :product_description %>
  </div>

<%= submit_tag "Submit" %>

<% end %>



