<p> Check it out! </p>

<li>
<%= @product.name %>
<%= @product.price %>
</li>
<li><%= @product.description %></li>
<ul><%= @product.images.first.url %></ul>


<%= form_tag "/carted_products", method: :post do %>
<div>
<%= label_tag :quantity %>
<%= text_field_tag :quantity %>
</div>
<%= hidden_field_tag :product_id, @product.id %>
<%= submit_tag "Add to cart" %>
<% end %>



